/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : Jun 1, 2016, 8:38:19 AM
    Author     : Lam.Vinh
*/

.left-msg-emergency {
    width: 240px;
    float: left;
    padding: 7px 10px 0 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.error {
    font-weight: normal;
    color: #B71C1C
}

input.error {
    border: 1px solid #B71C1C !important
}

.checkbox label,
.radio label {
    padding-left: 35px
}

.typeahead,
.tt-query,
.tt-hint {
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999;
}

.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 12px 0;
    padding: 8px 0;
    width: 100%;
}

.tt-suggestion {
    line-height: 24px;
    padding: 3px 20px;
}

.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

label.error {
    cursor: pointer;
    display: block;
    height: 34px;
    line-height: 34px;
    margin-right: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 34px;
    z-index: 2;
}

a.error i {
    position: relative
}

.form-group input[type="text"] {
    padding-right: 30px;
}

.form-group .tooltip {
    width: 170px;
    padding: 5px 0px
}

.form-group .col-md-3 {
    position: relative
}

.form-group .form-group-div {
    position: relative
}

.form-group .twitter-typeahead label.error {
    margin-right: 0px;
}

.datepicker {
    z-index: 1060 !important;
}

input:-moz-read-only {
    /* For Firefox */
    background-color: #fff;
}

input:read-only {
    background-color: #fff;
}

#tbldata .btn {
    padding: 6px
}

.text-normal {
    font-weight: normal!important
}

.input-group .tt-menu {
    top: 30px
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

.padding-top-bottom {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}


/*bootstrap-editable*/

.editable-click,
a.editable-click,
a.editable-click:hover {
    border-bottom: none!important;
}


/*end bootstrap-editable*/


/*{{{ costManagementlist*/

.costManagementlist {
    overflow: auto;
}


/*}}}*/

.form-group-div {
    position: relative !important;
}


/* scrollbar for cost-work screen, added by Hung*/

.scroll-bar {
    overflow: auto;
}
/* Approval - Selection */

#lean_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #000;
	display: none;
}
.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url('/common/img/modal_close.png');
	z-index: 2;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.modal-content-codes {
    max-height: 300px;
    overflow-x: hidden;
}
.code-item {
    width: 23%;
    display: inline-block;
    padding: 1%;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    font-size: 12px;
}   
.cheetah {
    padding-bottom: 5px;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 2px;
    border-radius: 100%;
}
.cheetah0 {
    border: 1px solid #00a65a ;
}
.cheetah1 {
    border: 1px solid   #f39c12 ;
}
.cheetah2 {
    border: 1px solid  #dd4b39  ;
}
.cheetah input {
    cursor: pointer;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
.spand-p {
    padding: 0 10px 0 10px;
    width: 80px;
    display: inline-block;
    text-align: center;
}
/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}