a:hover{
    cursor:pointer;
}
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.select {
    height: 34px;
    -webkit-appearance: none;
    line-height: 20px!important;
}
.select-nice {
    padding: 0px 10px;
    width: 100%;
    height: 34px;
    background: url(/img/arrow_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 240px;
    border-color: #d2d6de;
}
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.error-new-line {
    white-space: pre-line;
}

.text-new-line {
    white-space: pre-line;
}
.margin-element {
    margin-right: 10px;
}
.decrement-mgl-1 {
    margin-left: -7px;
}

.margin-form {
    margin-bottom: 10px;
}
ul.pagination {
    text-align: center;
    margin: 5px auto;
    width: 100%;
    display: inline-block;
}
ul.pagination li {
    text-align: center;
    display: inherit;
}

.hide-table {
    display: none;
}
.show-table {
    display: block;
}

.box-select {
    border-style: dotted;
    border-width: thin;
    overflow: auto;
    overflow-x: hidden;
    min-width: 210px;
    height: 600px;
    padding: 10px;
}

.button-box {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 210px;
}

.padding-form {
    padding-left: 5%;
    padding-top: 3%;
}

.padding-form-small {
    padding-left: 2%;
    padding-top: 3%;
}

.label-form {
    width: 20%;
}
.btn-remove {
    border-radius: 50px;
    background: #dd4b39;
    color: #fff;
    height: 20px;
    width: 20px;
    position: relative;
    margin: 0 5px;
    margin-top: -3px;
}
.btn-edit {
    border-radius: 50px;
    background: #00a65a;
    color: #fff;
    height: 20px;
    width: 20px;
    position: relative;
    margin: 0 5px;
    margin-top: -3px;
}
.btn-save {
    border-radius: 50px;
    background: #f39c12 ;
    color: #fff;
    height: 20px;
    width: 20px;
    position: relative;
    margin: 0 5px;
    margin-top: -3px;
}
.btn-remove i,.btn-edit i , .btn-save i {
    top: 3px;
    left: 4.5px;
    position: absolute;
    color:#fff;
}
.btn-larger {
    width: 85px;
}

.btn-largest {
    width: 95px;
}
.show-info {
    padding: 0 5px 0 5px;
    background-color: #ccc;
}
.show-info i {
    color: #9a7749;
    font-weight: bold;
}
.hiden-info ul{
    margin: 0;
    padding: 0;
}
.hiden-info ul li {
    list-style-type: none;
    padding: 5px 0 5px 0;
    border-bottom: 1px dotted #ccc;
}
.error {
    border: 1px solid red!important;
}
.line-bottom {
    border-bottom: 1px dotted #ccc;
}
.table-line-bottom tr>td:last-child{
    border-bottom: 2px solid #000!important;
}
.table-line-bottom tr>td[rowspan="1"] {
    border-bottom:none!important;
}
th a span{
    color: #333;
}
th a i{
    color : #009bf3;
}
.date-time .react-datepicker{
    width: auto;
    float: left;
    display: inline-flex;
}
.date-time .react-datepicker__time-list{
    padding: 0px!important;
}

.react-datepicker-popper{
    z-index: 999;
}

.react-datepicker-wrapper {
    display: inline-block;
    width: 100%;
}
.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.react-datepicker-wrapper input {
    width: 100%;
}
.react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    width: 100%;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    margin: 0.166rem;
}
.react-datepicker__day:hover {
    border-radius: 0.3rem;
    background-color: #00a65a;
}
.react-datepicker__day--disabled {
    cursor: default;
    color: #ccc;
}
.top-buffer { margin-top:20px; }
.pd-r-l-20{
    margin: 0 20px 0 20px;
}
.pd-t-b-20{
    margin:  20px 0 20px 0;
}

.link-detail{
    font-size: 14px;
    font-weight: bold;
}
.link-detail{
    border-bottom: 1px solid #000;
}
.link-detail:hover{
    border-bottom: 1px solid #ccc;
}

.table-child {
    width: 100%;
}
.table-child td{
    line-height: 1.42857143;
    vertical-align: top;
}
.popup-error {
    position: absolute;
    right: 0.8%;
    top: 0%;
    z-index: 9999999999;
    width: 25%;
}

tr.odd {
    background-color: #fff!important;
}
tr.even {
    background-color: #f9f9f9!important;
}
tr.line-bottom {
   border-bottom:  2px solid #000!important
}
td.line-bottom {
   border-bottom:  2px solid #000!important
}
tr.disabled, td.disabled {
    background-color: #b7b6b6!important;
}
.table-scroll {
    max-height: 195px;
    overflow-x: hidden;
}
.table-scroll-y {
    overflow-y: hidden;
}
.table-scroll::-webkit-scrollbar{
    width: 0.5em;
}
.scroll-bar-top::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar{
    height: 0.5em;
}
.table-responsive::-webkit-scrollbar-track,
.table-scroll::-webkit-scrollbar-track,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu::-webkit-scrollbar,
.scroll-bar-top::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu::-webkit-scrollbar {
    background-color: #337ab7;
    outline: 0.2px solid #337ab7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 0.2em;
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu::-webkit-scrollbar-thumb {
    background-color: #337ab7;
    outline: 1px solid #337ab7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.table-responsive::-webkit-scrollbar-thumb,
.table-scroll::-webkit-scrollbar-thumb,
.scroll-bar-top::-webkit-scrollbar-thumb {
    background-color: #337ab7;
    outline: 1px solid #337ab7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.table-responsive > .table > tbody > tr > td > p{
    text-align: justify;
    white-space:normal!important;
}
#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}
.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}
/*.table-header-fixed {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}*/
/*.table-header-fixed thead {
    display: table-header-group;
    vertical-align: middle;
}*/
/*.table-header-fixed thead{
    display: table-header-group;
    vertical-align: middle;
    display: block;
    position: relative;
}*/
/*.table-header-fixed tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
}
.table-header-fixed tbody tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}*/
/*Check box*/
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {

  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.nice-icon-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ccc;
  border-radius: 2px;
}
.control-radio .nice-icon-check {
  border-radius: 50%;
}
.control:hover input ~ .nice-icon-check,
.control input:focus ~ .nice-icon-check {
  background: #ccc;
}
.control input:checked ~ .nice-icon-check {
  background: #00a65a;
}
.control:hover input:not([disabled]):checked ~ .nice-icon-check,
.control input:checked:focus ~ .nice-icon-check {
  background: #00a65a;
}
.control:hover input:not(:checked) ~ .nice-icon-check{
    background: #00a65a;
}
.control input:checked:focus ~ .nice-icon-check {
  background: #00a65a;
}
.control input:disabled ~ .nice-icon-check {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.nice-icon-check:after {
  content: '';
  position: absolute;
  display: none;
}


.control input:checked ~ .nice-icon-check:after {
  display: block;
}
.nice-checkbox .nice-icon-check:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.nice-checkbox input:disabled ~ .nice-icon-check:after {
  border-color: #7b7b7b;
}
.control-radio .nice-icon-check:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control-radio input:disabled ~ .nice-icon-check:after {
  background: #7b7b7b;
}

.modal-custom {
    max-width: 500px;
}

.modal-custom > .modal-custom-content > .modal-custom-body {
    padding-left: 5%;
    padding-right: 5%;
}

.modal-custom > .modal-custom-content > .modal-custom-footer > .modal-custom-button {
    min-width: 100px;
}

.remove-padding-left {
    padding-left: 0px;
}
.box-total-item {
    margin: 10px 0px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.limit-char{
/*
    display:inline-block;
    max-width:150px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;*/
   max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.limit-char-90 {
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.max-width-70 {
    max-width:70px;
}

.max-width-100 {
    max-width:100px;
}
.max-width-150 {
    max-width:150px;
}
.max-width-200{
    max-width:200px;
}
.max-width-300{
    max-width:300px;
}
.max-width-350 {
    max-width:350px;
}

/* Custom tabs */
.nav-tabs {
    border-bottom: 1px solid #ccc;
}
.nav-tabs-custom>.tab-content {
    padding: 10px 5px;
}
.nav-tabs li a:hover {
    cursor: pointer;
    background-color: #fff !important;
    color: #3097d1!important;
}
.custom-tabs .nav>li>a {
    padding: 2px 15px!important;
    border: 1px solid #3097d1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.custom-tabs .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: transparent;
}
.custom-tabs .nav-tabs-custom>.nav-tabs>li.active a {
    background-color: #ddd;
    color: #000;
    border: 1px solid #ddd;

}
.btn-info-gray {
    background-color: #999;
    border-color: #777;
}
.text-danger {
    color: #ec1b17;
}
.text-danger-important {
    color: #ec1b17!important;
}
.nav-tabs-custom>.nav-tabs>li {
    padding-bottom: 5px;
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width : 321px) {
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}



/* Smartphones (portrait) ----------- */

@media only screen and (max-width : 320px) {
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
    .nav-tabs-custom li a {
        display:inline-block;
        max-width:100px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
}

/* iPhone 4 ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
    .nav-tabs-custom li a {
        display:inline-block;
        max-width:100px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
    .nav-tabs-custom li a {
        display:inline-block;
        max-width:100px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
}

/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
    .nav-tabs-custom li a {
        display:inline-block;
        max-width:100px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
    .nav-tabs-custom li a {
        display:inline-block;
        max-width:100px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
}

/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .xs-mb {
        margin-bottom: 10px;
    }
}

.text-long-batch {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#circle {
    height:2rem;
    width:2rem;
    margin: auto;
    border-radius: 4rem;
}

.batch-active {
    background:#3c8dbc;
}

.batch-error {
    background:red;
}

.batch-stop {
    background:#d2d6de;
}

.text-middle {
    vertical-align: middle !important;
}

.max-w-200 {
    max-width: 200px;
}
.scroll-bar-top {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 20px;
    margin-bottom: 10px;
}
.row-block {
    display: block;
}
/* table hover */
.table-hover tbody tr:hover{
    cursor: pointer!important;
    background-color:#d4efff!important;
}
.table-hover .row {
    margin-left: -5px;
    margin-right: -5px;
}
/* table custom */
.table-custom > thead > tr > th {
    background-color: #0073b7;
    color: white;
}

.table-custom > thead > tr > th > a > span {
    color: white;
}

.table-custom > thead > tr > th > a > i {
    color: #10ff00;
}

.table-custom > thead > tr > th {
    border: 1px solid #ccc;
}

.table-custom > tbody > tr > td {
    border: 1px solid #ddd;
}
/* table-rm-sdt */
.table-rm-sdt thead tr th:last-child {
    border: none;
    background-color: transparent;
}
.table-rm-sdt tbody tr td:last-child {
    border: none;
    background-color: #fff;
}
.table-rm-sdt thead tr th {
    background-color: #777;
}
.table-rm-sdt .is_return {
    background-color: #fff;
}
@media only screen and (min-device-width: 992px) {
    .clear-padding {
        padding-right: 0px;
        padding-left: 0px;
    }

    .clear-padding-right {
        padding-right: 0px;
    }

    .clear-padding-left {
        padding-left: 0px;
    }

    .memo-box-height {
        height: 245px;
    }

    .to-from-parent {
        width: 3%;
        position: relative;
    }

    .to-from-child {
        position: absolute;
        top: 28px;
        left: 10px;
    }
}
@media (min-width: 992px) {
    .icon-error {
        z-index: 10;
        cursor: pointer;
        pointer-events: auto;
    }

    .icon-error-right {
        z-index: 10;
        cursor: pointer;
        pointer-events: auto;
        right: 45px;
    }

    .tooltip-inner {
        width: 250px;
    }
    .padding-only-pc {
        padding-right: 15px;
        padding-left: 15px;
    }

    .pull-right-md {
        float: right;
    }

    .line-height-md {
        text-align: right;
        line-height: 25px;
        vertical-align: middle;
    }

    .ignore-margin-group {
        margin-bottom: 0px;
    }
    .pull-right-large {
        float: right!important;
    }
}

@media (max-width: 991px) {
    .margin-bottom-btn {
        margin-bottom: 10px;
    }

    .list-button-block {
        width: 100%;
        display: inline-block;
    }
}

.payment-unknow th {
    min-width: 102px;
    max-width: 100px;
}

.unknown-payment-name {
    min-width: 200px !important;
    max-width: 200px !important;
}

.fix-message {
    position: fixed;
    top: 20px;
}
.col-max-min-40 {
    min-width: 40px !important;
    max-width: 40px !important;
}
.col-max-min-50 {
    min-width: 50px !important;
    max-width: 50px !important;
}
.col-max-min-60 {
    min-width: 60px !important;
    max-width: 60px !important;
}
.col-max-min-90 {
    min-width: 90px !important;
    max-width: 90px !important;
}
.col-max-min-120 {
    min-width: 120px !important;
    max-width: 120px !important;
}
.col-max-min-130 {
    min-width: 130px !important;
    max-width: 130px !important;
}
.col-max-min-160 {
    min-width: 160px !important;
    max-width: 160px !important;
}
.col-max-min-100 {
    min-width: 100px !important;
    max-width: 100px !important;
}
.col-max-min-200 {
    min-width: 200px !important;
    max-width: 200px !important;
}
.col-max-min-300 {
    min-width: 300px !important;
    max-width: 300px !important;
}
.box-info-order {
    height: 80px;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px ;
}

.height-100 {
    height: 100px;
}

.inline-text-margin {
    margin-left: 20px;
}

.text-bold {
    font-weight: bold;
}

.text-top-align {
    position: relative;
    top: 10px;
}

.img-mall-padding {
    padding-left: 15px;
}

.box-info-text {
    border: 1px dotted black;
    padding-left: 10px;
    padding-right: 10px;
}
.add-line-bottom-dotted {
    padding-bottom: 5px;
    border-bottom: 2px dotted #999;
}
.add-line-dotted {
    border: 2px dotted #999;
    padding: 5px;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.row-spacing {
    margin-bottom: 10px;
}

.row-spacing-double {
    margin-bottom: 20px;
}

.form-custom .has-feedback .form-control-feedback {
    right: 15px;
}

.table-line-dotted tr {
    border: 1px dotted #999;
}
.visibility-hide {
    visibility: hidden;
}

.color-mapping-status {
    background-color: #93a1a1 !important;
}
.monthly-checkbox {
    padding-left:10px;
    display: inline-block;
}
.monthly-checkbox .control {
    top: -2px;
}

.order-detail-padding {
    padding-right: 15px;
}

.hr-margin {
    margin: 5px;
}
.hr-full {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.btn-none {
    background-color: transparent;
    border: none;
    color: black;
}
.btn-none i{
        font-size: 20px;
    color: red;
    /* line-height: 14px; */
    margin-top: -6px;
    position: absolute;
    top: 12px;
    /* left: -24px; */
    right: 85px;
}
.margin-top-3px {
    margin-top: 3px;
}

.width-94px {width: 94px;}

.hidden-div-csv:before {
    z-index: 9999;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
    background-color: rgba(0,0,0,0.3);
}

.border-bottom-solid {
    border-bottom: 1px solid #000 !important;
}

tr td.border-solid {
    border: 1px solid #000 !important;
}
.form-return {
    padding: 0 20px 0 20px;
}
.hide-opacity {
    cursor: default;
    pointer-events: none;
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.show-edit {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #cfe2f3;
}

.border-repay {
    border-bottom: 1px solid #cfe2f3 !important;
}
.color-repay {
    background-color: #cfe2f3 !important;
}
tr.color-repay-dis td{
    background-color: #b7b7b7;
}
.margin-top-bot {
    margin-top: 15px;
    margin-bottom: 15px;
}

.show-edit .table tbody tr td {
    border-top: 1px solid #cfe2f3;
}

#edit-order .react-datepicker__time-list,
#edit-order .react-datepicker__time-list-item {
    padding-left: 0px;
    padding-right: 0px;
}

.bg-disable{
    background-color: #b7b7b7;
}
#return_detail table .has-feedback .form-control-feedback {
    right: 0px;
}

#return_detail table .has-feedback .form-control {
    padding-right: 25.5px;
}

.clear-margin-top {
    margin-top: 0 !important;
}

.clear-margin-bottom {
    margin-bottom: 0 !important;
}

.border-top-solid {
    border-top: 1px solid #000;
}
.return_edit {
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 15px;
}
.is_return {
    background-color: #ffccff;
}

.font_weight_normal {
    font-weight: normal;
}

.multiselect-native-select button {
    text-align: right;
}
.disable_event {
    pointer-events:none;
    background-color: #b7b6b6 !important;
}

.state_flag_supplier {
    background-color: #ccffe6 !important;
}
.show-modal-content {
    display: block;
    max-width: 100%;
}
.popover-width {
    width: 600px;
}
.popover-custom-title {
    font-size: 20px;
    font-weight: bold;
}
.popover-custom-width {
    max-width: 700px;

}
.popover-content {
  overflow-y: scroll;
  max-height:500px;
  overflow-x:hidden;
  font-size: 12px!important;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 12px!important;
    border-left: 5px solid #eee;
}
.show-modal-content:hover {
    cursor: pointer;
    background-color: #c1e5f9;

}
.click-edit-grid {
    cursor: pointer;
}

.click-edit-grid .box-remarks {
    padding: 10px;
    border: 1px solid #ddd;
    display: block;
    max-height: 77px;
    height: 70px;
    float: left;
    width: 100%;
}
.active .tool-bar {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    display: block !important;
}
/*Animation*/
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1s;
}

@keyframes fadeOutOpacity {
	100% {
		fadeOutOpacity: 1;
	}
	0% {
		opacity: 0;
	}
}
/*Custom columns offset*/
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }

  .clear-margin-navs {
    margin-bottom: 0px !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}
.disable-link {
    pointer-events : none;
}

.position-relative {
    position: relative !important;
}

.product-delivery {
    position: absolute;
    left: 13px;
}
.product-delivery * {
    margin-right: 5px;
}
.input-link {
    color: #337ab7;
    cursor: pointer;
    text-decoration: underline;
}

.reason-popup .form-control-feedback {
    right :10px;
}

.has-error-editor .has-feedback > div:first-child {
    border-color: red;
}

.line-error > td {
    background-color: #f2dede;
}

.row-same-height {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.max-height-col {
    height: 100%;
}

tr.deleted_row > td {
    background-color: #b7b7b7;
}
.no-attr {
    border: 0!important;
    background: none!important;
}
tr.replied {
    background: #AB7E48!important;
    border-bottom: 1px solid #dd4b39;
}
.btn_attached_custom {
    padding-right: 15px;
}
.span_attached_custom {
    position: relative;
    top: 3px;
}
.mail-content {
    padding: 5px;
    border: solid 1px #ccc;
    margin: 10px 0 10px 0;
}
.mail-content {
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #ccc;
    margin: 10px 0 10px 0;
}
.mail-content2 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px #9a7749;
    margin: 10px 0 10px 0;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid royalblue;
  border-bottom: 50px solid transparent;
}
.number {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color:#3097d1;
    color: floralwhite;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}
.imgPop {
    border: 5px solid #ccc;
    cursor: pointer;
}
.imgPop:hover {
    border: 5px solid #009bf3;
}
.row-warning > td {
    background-color: #e6cd9e;
}
.box-ecu {
    border: 1px solid;
    margin-top: 50px;
}
.box-ecu > thead > tr > td {
    border: 1px solid;
}
.box-ecu > tbody > tr > td {
    border: 1px dotted;
}
.instruction-password {
    margin-top: 3px;
    color: #777;
}
.own-instruction-password {
    margin-bottom: 0;
}
.own-instruction-password .help-block {
    margin-bottom: 0;
}