@font-face {
    font-family: 'msgothic';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url("/fonts/MS Gothic.ttf") format("truetype");
}
@font-face {
    font-family: 'msgothic';
    font-weight: bold;
    font-style: bold;
    font-variant: bold;
    src: url("/fonts/MS Gothic.ttf") format("truetype");
}
@font-face {
    font-family: 'msgothic';
    font-weight: italic;
    font-style: italic;
    font-variant: italic;
    src: url("/fonts/MS Gothic.ttf") format("truetype");
}

.main-contain {
    font-family: msgothic;
    padding-left: 10%;
    padding-right: 10%;
}

.box-top {
    margin: auto;
    border-style: solid;
    border-width: 5px;
    height: 60px;
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: #DDDDDD;
}

.panel-custom > .panel-heading {
    background: #DDDDDD;
    border-radius: 0 !important;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

.panel-custom > .panel-body {
    border-radius: 0 !important;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    height: 350px
}

.remove-radius {
    border-radius: 0 !important;
}