
.col-md-0-25, .col-md-0-5, .col-md-0-75,
.col-md-1-25, .col-md-1-5, .col-md-1-75,
.col-md-2-25, .col-md-2-5, .col-md-2-75,
.col-md-3-25, .col-md-3-5, .col-md-3-75,
.col-md-4-25, .col-md-4-5, .col-md-4-75,
.col-md-5-25, .col-md-5-5, .col-md-5-75,
.col-md-6-25, .col-md-6-5, .col-md-6-75 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px) {
    .col-md-0-25, .col-md-0-5, .col-md-0-75,
    .col-md-1-25, .col-md-1-5, .col-md-1-75,
    .col-md-2-25, .col-md-2-5, .col-md-2-75,
    .col-md-3-25, .col-md-3-5, .col-md-3-75,
    .col-md-4-25, .col-md-4-5, .col-md-4-75,
    .col-md-5-25, .col-md-5-5, .col-md-5-75,
    .col-md-6-25, .col-md-6-5, .col-md-6-75 {
        float: left;
    }

    .col-md-offset-0-25 {
        margin-left: 2.08333333%;
    }

    .col-md-offset-0-5 {
        margin-left: 4.16666667%;
    }

    .col-md-0-25 {
        width: 2.08333333%;
    }
    .col-md-0-5 {
        width: 4.16666667%;
    }
    .col-md-0-75 {
        width: 6.25%;
    }
    .col-md-1-25 {
        width: 10.41666667%;
    }
    .col-md-1-5 {
        width: 12.5%;
    }
    .col-md-1-75 {
        width: 14.58333333%;
    }
    .col-md-2-25 {
        width: 18.75%;
    }
    .col-md-2-5 {
        width: 20.83333333%;
    }
    .col-md-2-75 {
        width: 22.91666667%;
    }
    .col-md-3-25 {
        width: 27.08333333%;
    }
    .col-md-3-5 {
        width: 29.16666667%;
    }
    .col-md-3-75 {
        width: 31.25%;
    }
    .col-md-4-25 {
        width: 35.41666667%;
    }
    .col-md-4-5 {
        width: 37.5%;
    }
    .col-md-4-75 {
        width: 39.58333333%;
    }
    .col-md-5-25 {
        width: 43.75%;
    }
    .col-md-5-5 {
        width: 45.83333333%;
    }
    .col-md-5-75 {
        width: 47.91666667%;
    }
    .col-md-6-25 {
        width: 52.08333333%;
    }
    .col-md-6-5 {
        width: 54.16666667%;
    }
    .col-md-6-75 {
        width: 56.25%;
    }
    .per-page {
        width: 8.5% !important;
    }
    .return-delivery-plan {
        padding-left: 8px;
    }
}



@media (max-width: 992px) {
    .pull-xs-right{
        float: right !important;
    }
    .pull-xs-left{
        float: left !important;
    }
    .deje-margin {
        margin-top: 20px;
    }
}


.popup-error {
    position: absolute;
    right: 0.8%;
    top: 0%;
    z-index: 9999999999;
    width: 25%;
}


.fix-message {
    position: fixed;
    top: 20px;
}

.link-disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.table-responsive select,
.table-responsive input {
    cursor: pointer;
}
table th.resize-thead {
    cursor: col-resize;
}
@media screen and (width : 1280px) {
    #panigation .col-md-2-5{
        display: none;
    }
    #panigation .col-md-7{
        left: 15%;
        width: 70%;
    }
    #panigation .col-md-2-5:last-child{
        display: block;
        float: right;
        width: 18%;
    }
}

.alert-success{
    color:#3c763d !important;
    background-color:#dff0d8 !important;
    border-color:#d6e9c6 !important;
}
.alert-info{
    color:#31708f !important;
    background-color:#d9edf7 !important;
    border-color:#bce8f1 !important;
}
.alert-warning{
    color:#8a6d3b !important;
    background-color:#fcf8e3 !important;
    border-color:#faebcc !important;
}
.alert-danger{
    color:#a94442 !important;
    background-color:#f2dede !important;
    border-color:#ebccd1 !important;
}

.next-prev-pos {
    position: absolute;
    width: 100%;
    text-align: center;
}
.margin-top-5 {
    margin-top:5px;
}
.padding-right-5 {
    padding-right:5px;
}

.table-member-lesson td {
    /*border-top: 2px dotted #999 !important;*/
    border: 1px solid #999 !important;
}

/*.table-member-lesson .lesson-info td:first-child {
    border-left: 2px dotted #999;
}
.table-member-lesson .lesson-info td:last-child {
    border-right: 2px dotted #999;
}

.table-member-lesson .lesson-process td:first-child {
    border: 2px dotted #999;
}*/
.member-lession input,
.member-lession textarea {
    border: 2px dotted #999;
}
.member-lession .table-scroll{
    max-height: 240px !important;
}
.margin-top-50 {
    margin-top: 50px;
}

.member_purchased tbody td {
    border: 1px solid #999 !important;
}

.member_purchased tbody td:last-child {
    border: none !important;
}
.member_purchased thead th {
    border-bottom: none !important;
}

.text-word-break {
    word-break: break-all;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-10 {
    margin-top: 10px;
}
.col-max-min-10 {
    min-width: 10px !important;
    max-width: 10px !important;
}
.col-max-min-20 {
    min-width: 20px !important;
    max-width: 20px !important;
}
.col-max-min-25 {
    min-width: 25px !important;
    max-width: 25px !important;
}
.col-max-min-30 {
    min-width: 30px !important;
    max-width: 30px !important;
}
.col-max-min-150 {
    min-width: 150px !important;
    max-width: 150px !important;
}
.process_status_1 {
    background-color: #CCFFCC;
    color: #0000FF;
    font-weight: bold;
}

.process_status_2 {
    background-color: #CCFFFF;
    color: #000000;
}

.process_status_3 {
    background-color: #FFCCCC;
    color: #FF0019;
    font-weight: bold;
}

.process_status_4 {
    background-color: #FFCCCC;
    color: #000000;
}

.process_status_5 {
    background-color: #CCCCCC;
    color: #009900;
    font-weight: bold;
}

.process_status_6 {
    background-color: #CCCCCC;
    color: #000000;
}

.process_status_7 {
    background-color: #FFFFFF;
    color: #000000;
}

.process_status_8 {
    background-color: #CCCCCC;
    color: #FF0019;
}

.process_method_6 {
    background-color: #CCCCCC;
    color: #FF0019;
}
.member-text span {
    font-size: 18px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.border-red {
    border-color: #dd4b39;
    box-shadow: none;
}

.custom-check-box {
    padding-left: 18px !important;
}

.custom-check-box .nice-icon-check {
    height: 15px !important;
    width: 15px !important;
    top: 2px !important;
}

.custom-check-box .nice-icon-check:after {
    left: 6px !important;
    top: 2px !important;
    width: 4px !important;
    height: 10px !important;
}

.custom-check-box:hover input:not(:checked)~.nice-icon-check,
.custom-check-box:hover input:not([disabled]):checked~.nice-icon-check,
.custom-check-box input:checked:focus~.nice-icon-check,
.custom-check-box input:checked~.nice-icon-check {
    background: #007bff !important;
}

.custom-radio {
    padding-left: 18px !important;
}
.custom-radio .nice-icon-check {
    height: 15px !important;
    width: 15px !important;
    top: 3px;
}

.custom-radio .nice-icon-check:after {
    left: 5.4px !important;
    top: 5px !important;
    width: 5px !important;
    height: 5px !important;
}

.custom-radio:hover input:not(:checked)~.nice-icon-check,
.custom-radio:hover input:not([disabled]):checked~.nice-icon-check,
.custom-radio input:checked:focus~.nice-icon-check,
.custom-radio input:checked~.nice-icon-check {
    background: #007bff !important;
}

.pointer-events-custom {
    pointer-events:none;
}

.container-dropzone {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.container-dropzone p {
  margin-bottom: 0 !important;
}

.container-dropzone > em {
  font-size: .8rem;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  /*color: #bdbdbd;*/
  outline: none;
  transition: border .24s ease-in-out;
}

.dropzone-dropzone:focus {
  border-color: #2196f3;
}

.dropzone-dropzone.disabled {
  opacity: 0.6;
}

.deje-block-button {
    position: relative;
}

.deje-button {
    position: absolute;
    right: 0;
}


.btn-inverse-custom {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #EB670E;
    background-image: linear-gradient(to bottom, #EB670E, #EB670E);
    background-repeat: repeat-x;
    border-color: #EB670E;
}

.btn-inverse-custom:hover,
.btn-inverse-custom:active,
.btn-inverse-custom:focus {
    background-color : #993d00 !important;
}

.unset-float {
    float: unset !important;
}

.delay-box-checked {
    background-color: #FF00FF;
}

.delay-line-checked {
    border-color: #FF00FF;
}

.checked-start {
    color: red;
    font-size: 20px;
    padding-top: 8px;
}


.clear-padding-all {
    padding-right: 0px;
    padding-left: 0px;
}

.margin-top-6 {
    margin-top: 6px;
}

.clear-margin {
    margin: 0;
}
#add-claim-modal .icon-error {
    right: 15px;
}

.zoom-claim {
    z-index: 9999;
    transition: transform .2s;
}
.zoom-claim:hover {
    z-index: 9999;
  transform: scale(4);
}